@use '../variables/colors';

.button {
	height: 36px;
	font-size: 1rem;
	padding: 4px 8px;
	// border: none;
	background-color: colors.$accent-color;
	border-radius: 1.2rem;
	text-decoration: none;

	&-icon {
		margin: 0;
		height: 1rem;
	}
}
