@use '../variables/colors';

.link-button {
	height: 36px;
	font-size: 1rem;
	font-weight: regular;
	padding: 8px 16px;
	background-color: colors.$accent-color;
	border: 1px solid colors.$text-light-background;
	border-radius: 1.2rem;
	text-decoration: none;
	color: colors.$text-light-background;

	&-icon {
		margin: 0;
		height: 0.9rem;
		fill: colors.$text-light-background;
	}
}
