@use "../variables";

.header {
	background-color: variables.$main-color;
	padding: 8px 16px;

	&__container {
		display: block flex;
		flow-flow: row wrap;
		align-items: flex-end;
	}

	&__brand {
		text-align: center;
	}

	&__brand-link {
		text-decoration: none;
	}
	
	&__brand-logo {
		height: 32px;
	}
	
	&__brand-name {
		color: variables.$text-light-background;
		font-weight: 700;
		font-size: 1.2rem;
	}

	&__nav {
		margin-left: 2rem;
	}

	&__nav-list {
		list-style: none;

		display: inline flex;
		justify-content: space-between;
		align-items: baseline;
	}
				
	&__nav-element {
		margin-right: 2rem;
	}
					
	&__nav-link {
		text-align: center;
		text-decoration: none;
		color: variables.$text-light-background;
		font-size: 1rem;
		font-weight: 600;

		&:hover, &:hover &__link-icon, &--active, &--active &__link-icon {
			color: variables.$text-colored-background-highlight;
			fill: variables.$text-colored-background-highlight;
		}
	}
						
	&__link-icon {
		height: 1rem;
		display: block;
		margin: 8px auto;
		fill: variables.$text-light-background;
	}
	
	&__usermenu {
		margin-left: auto;
	}

	&__usermenu-links {
		list-style: none;
		display: inline-flex;
	}
				
	&__usermenu-item {
		font-size: 1rem;
		font-weight: 600;

		border-radius: 1.4rem;
		border: 1px solid variables.$text-light-background;
		padding: 8px 16px;
		margin-left: 8px;

		&:hover {
			background-color: variables.$text-highlight;
		}
	}

	&__usermenu-link {
		text-decoration: none;
		color: variables.$text-light-background;
	}
}
