// Monochromatic colour palette:
// #806a38, #ffebbd, #ffd570 (base), #80765e, #ccaa5a
$main-color: #ffd570;
$text-colored-background-highlight: #806a38;
$text-highlight: #ffebbd;
$text-light-background: #000000cc;

$primary-color: #ffd570;
$secondary-color: #806a38;
$accent-color: #ffebbd;
$tertiary-color: #80765e;
$quaternary-color: #ccaa5a;
